<!--La propriété ngClass permet d'attribuer dynamiquement des classes aux objets du Dom -->
<li [ngClass]="{'list-group-item': true, 'list-group-item-success': appareilStatus === 'allumé', 'list-group-item-danger': appareilStatus === 'éteint'  }">
<a [routerLink]="[id]">Détail</a>
  <!--Créer une liaison de donnée avec l'interpolation-->
  <!--La propriété ngStyle permet de changer la couleur-->
  <h4 [ngStyle]="{color: getColor()}">Appareil: {{ appareilName }} -- Statut: {{ getStatus() }}</h4>
  <!-- Two-way binding [(ngModel)] Liaison à l'événement et à la propriété en même tps-->
  <button class="btn btn-success" (click)="onSwitchOn()" [disabled]="appareilStatus === 'allumé'">Allumer</button>
  <button class="btn btn-danger" (click)="onSwitchOff()" [disabled]="appareilStatus === 'éteint'">Eteindre</button>
</li>