<div class="col-xs-12">
  <h2>Mes appareils</h2>

  <!--utilisation d'un pipe-->
  <p>Mis à jour : {{ lastUpdate | date: 'd-MMMM-y' | uppercase }}</p>
  <p>Mis à jour (avec promise) : {{ lastUpdatePromise | async | date: 'd-MMMM-y' | uppercase }}</p>
  <ul class="list-group">
    <!--récupération d'une propriété personnalisée appareilName et appareilStatus-->
    <!--*ngFor itère une liste et à partir de l'objet de l'itération il est possible faire une liaison avec le nom et le status -->
    <app-appareil *ngFor="let appareil of appareils; let i = index" 
    [indexOfAppareil]="i"
    [appareilName]="appareil.name" [appareilStatus]="appareil.status" [id]="appareil.id"></app-appareil>
  </ul>
  <!--[disabled] est un property binding = liaison du code ts au template-->
  <!--(click) est un event binding = liaison par événement, réagir à un événement du DOM soit une liaison du code template au ts-->
  <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
<button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
</div>